.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;




    .row.center {
        padding: 20px;
        text-align: center;
        word-wrap: break-word;

      }
  }

  .profile_edit{
    .field{
      border-bottom: 0px solid #ccc;
      padding: 20px;
      text-align: center;
      word-wrap: break-word;
    }
    .profile_img{
    }
    }


.topic_index{
  .each_topic {

      border: 1px solid #ccc;

      margin-top: 10px;
      margin-bottom: 10px;
      padding: 20px;
      text-align: left;
      word-wrap: break-word;
    }
  }

  .btn_topic{
    text-align: right;
  }

  .topic_profile_img{

    width: 50px;
    height: 50px;
    object-fit: cover;
  }


input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}
